@CHARSET "UTF-8";

.action_email_new {
    background-image:url(../../images/oxygen/16x16/actions/mail-new.png) !important;
}

.action_email_flag {
    background-image:url(../../images/oxygen/16x16/actions/flag-red.png) !important;
}

.action_email_reply {
    background-image:url(../../images/oxygen/16x16/actions/mail-reply-sender.png) !important;
}

.action_email_replyAll {
    background-image:url(../../images/oxygen/16x16/actions/mail-reply-all.png) !important;
}

.action_email_forward {
    background-image:url(../../images/oxygen/16x16/actions/mail-forward.png) !important;
}

.action_email_previuosMessage {
    background-image:url(../../images/oxygen/16x16/actions/find-previous.png) !important;
}

.action_email_nextMessage {
    background-image:url(../../images/oxygen/16x16/actions/find-next.png) !important;
}

.FelamimailIconCls {
    background-image:url(../../images/oxygen/16x16/apps/kmail.png) !important;
}
