@CHARSET "UTF-8";

.action_email_new {
    background-image:url(../../images/oxygen/16x16/actions/mail-new.png) !important;
}

.action_email_flag {
    background-image:url(../../images/oxygen/16x16/actions/flag-red.png) !important;
}

.action_email_reply {
    background-image:url(../../images/oxygen/16x16/actions/mail-reply-sender.png) !important;
}

.action_email_replyAll {
    background-image:url(../../images/oxygen/16x16/actions/mail-reply-all.png) !important;
}

.action_email_forward {
    background-image:url(../../images/oxygen/16x16/actions/mail-forward.png) !important;
}

.action_update_cache {
	background-image:url(../../images/oxygen/16x16/actions/mail-receive.png) !important;
}

.action_mark_unread {
    background-image:url(../../images/oxygen/16x16/actions/mail-mark-unread.png) !important;
}
	
/*
.action_email_previuosMessage {
    background-image:url(../../images/oxygen/16x16/actions/find-previous.png) !important;
}

.action_email_nextMessage {
    background-image:url(../../images/oxygen/16x16/actions/find-next.png) !important;
}
*/

.FelamimailIconCls {
    background-image:url(../../images/oxygen/16x16/apps/kmail.png) !important;
}

.action_folder_emptytrash {
    background-image:url(../../images/oxygen/16x16/actions/emptytrash.png) !important;
}

/***** flag classes ******/

.flag_unread td{
    font-weight: bold;
}

.flag_flagged {
    color: #ff0000;
}

.flag_deleted td {
    text-decoration: line-through;
    color: #aaaaaa;
}

.FelamimailFlagIcon {
    width: 12px;
    height: 12px;
}

/**** preview *****/

.preview-panel-felamimail {
	padding: 5px;
	overflow: 'hidden';
}

.preview-panel-felamimail-headers {
    background-color: #dddddd;
    overflow: 'hidden';
}

.preview-panel-felamimail-attachments {
	margin-top: 5px;
    background-color: #e8e8e8;
    width: 100%;
}

.preview-panel-felamimail-attachments .tinebase-download-link{
    /* float: left; */
}

.preview-panel-felamimail-body {
    overflow: 'auto';	
}

/***** node classes ******/

.felamimail-node-unread span {
    font-weight: bold;
}

.felamimail-node-trash img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/user-trash.png);
}

.felamimail-node-trash-full img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/user-trash-full.png);
}

.felamimail-node-sent img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/mail-folder-sent.png);
}

.felamimail-node-inbox img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/mail-folder-inbox.png);
}

.felamimail-node-drafts img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/folder-txt.png);
}

.felamimail-node-templates img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/folder-tar.png);
}

.felamimail-node-junk img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/trashcan-empty-alt.png);
}

.felamimail-node-intelligent-marked img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/folder-important.png);
}

.felamimail-node-intelligent-unread img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/folder-bookmarks.png);
    /* background-image:url(../../images/oxygen/16x16/places/mail-folder-sent.png); */
}

.felamimail-node-account img.x-tree-node-icon {
    background-image:url(../../images/oxygen/16x16/places/user-home.png);
}

/*.felamimail-node-progress x-tree-node a span { */
/* TODO make this work */
.felamimail-node-progress x-tree-node-anchor a span {
    color: '#dddddd';
    text-align: 'right';
    /* float: 'left'; */
    width: '100%';
}

/***** email composing dialog ******/

/* disable grid headers */
#felamimail-recipient-grid .x-grid3-hd-row, #felamimail-attachment-grid .x-grid3-hd-row {
    display:none;
}

#felamimail-recipient-grid td {
    border-right: 1px solid #5555ff;	
}

.felamimail-body-blockquote {
    margin: 5px 10px 0 3px;
    padding-left: 10px;
    border-left: 2px solid #000088;
}

.felamimail-body-signature {
    font-size: 9px;
    color: #888888;
}

.x-fmail-uploadrow .x-grid3-cell-inner {
    background-image:url(../../library/ExtJS/resources/images/default/grid/wait.gif);
    background-repeat: no-repeat;
    padding-left: 19px;
}
