#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGES := $(shell dh_listpackages)
MODULES = $(filter-out tinebase,$(patsubst tine20-%,%,$(filter tine20-%,$(PACKAGES))))

DESTDIR=$(CURDIR)/debian/tine20-tinebase

TINE20DIR=$(DESTDIR)/usr/share/tine20
TINE20CONFDIR=$(DESTDIR)/etc/tine20
TINE20DOCDIR=$(DESTDIR)/usr/share/doc/tine20
TINE20LOGDIR=$(DESTDIR)/var/log/tine20

TINE20SESSIONDIR=$(DESTDIR)/var/lib/tine20/sessions
TINE20TMPDIR=$(DESTDIR)/var/lib/tine20/tmp
TINE20CACHEDIR=$(DESTDIR)/var/lib/tine20/cache
TINE20FILESDIR=$(DESTDIR)/var/lib/tine20/files


#%:
#	dh  $@

clean::
	dh_testdir
	dh_testroot
	debconf-updatepo
	dh_clean

install: build
	echo $(PACKAGES)
	echo $(MODULES)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	install -m 755 -d $(TINE20DIR)
	install -m 755 -d $(TINE20CONFDIR)
	install -m 750 -o www-data -g www-data -d $(TINE20SESSIONDIR)
	install -m 750 -o www-data -g www-data -d $(TINE20TMPDIR)
	install -m 750 -o www-data -g www-data -d $(TINE20CACHEDIR)
	install -m 750 -o www-data -g www-data -d $(TINE20LOGDIR)
	install -m 750 -o www-data -g www-data -d $(TINE20FILESDIR)

	dh_install

	for dir in $(PACKAGES) ; do \
            find $(CURDIR)/debian/$$dir -type f -exec chmod 644 {} \; ; \
        done

	install -m 755 tine20.php $(TINE20DIR)

	install -m 644 debian/etc/apache.conf $(TINE20CONFDIR)
	install -m 644 debian/etc/php5.ini    $(TINE20CONFDIR)

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdebconf -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installchangelogs  -i
	dh_installlogrotate -i
	dh_link -i
	dh_compress -i -X .php
	dh_fixperms -i -X var/log/tine20 -X var/lib/tine20
	dh_installdeb -i
	(echo -n "tine20:Modules="; for x in $(MODULES); do echo -n "tine20-$$x,"; done) >> debian/tine20.substvars
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i


binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install