#!/bin/bash 

set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    # currently we support mysql only
    dbc_dbtypes="mysql"
  
    . /usr/share/dbconfig-common/dpkg/config
    if ! dbc_go tine20 $@ ; then
        echo 'Automatic configuration of database failed!'
    fi
fi

db_input high tine20/webserver_type || true

if [ ! -f /etc/tine20/config.inc.php ]; then
    db_input high tine20/setupuser || true
    db_input high tine20/setuppasswd || true
fi

db_go || true

