#!/bin/bash 

set -e

action=$1
version=$2

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

db_input medium tine20/webserver_type || true
db_input high tine20/setupuser || true
db_input high tine20/setuppasswd || true
db_go

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    # currently we support mysql only
    dbc_dbtypes="mysql"
  
    . /usr/share/dbconfig-common/dpkg/config
    dbc_go tine20 $@
fi
