		html, body {
			font:normal 12px verdana;
			margin:0;
			padding:0;
			border:0 none;
			overflow:hidden;
			height:100%;
		}
		
		#header{
			border-bottom: 1px solid #083772;
			padding:5px 4px;
		}
		
		#footer{
			border-top: 1px solid #083772;
			padding:2px 4px;
			color:black;
			font:normal 8pt arial,helvetica;
		}
		
		#nnav {
			background-color:#c3daf9;
		}
		
		#nnav, #content {
			padding:10px;
		}
		
		#content p {
			margin:5px;
		}
		
		#tree {
			overflow:auto;
		}
		
		#nnav li {
			padding:2px;
			padding-left:10px;
			background-image:url(images/bullet.gif);
			background-position: -3px 6px;
			background-repeat: no-repeat;
			font-size:8pt;
			display: block;
		}
		
		.treemain {
			bbackground-color:#aaaaaa;
			background-image:url(../../extjs/resources/images/gray/layout/panel-title-light-bg.gif);
		}
		
		.x-tree-node .x-tree-selected a span{
			background:#888888;
			color:white;
		}
		
		.x-grid-row-selected td, .x-grid-locked .x-grid-row-selected td{
			background-color: #888888 !important;
			color: white;
		}

.x-form-text, textarea.x-form-field{
    padding: 1px 3px;
    background:#fff url(../../extjs/resources/images/default/form/text-bg.gif) repeat-x 0 0;
    border: 1px solid #c6c6c7;
}
		
.x-form fieldset {
    border:1px solid #c7c7c7;
    padding:10px 10px 5px 10px;
    margin-bottom:10px;
}		
.x-form fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#8a8a8b;		
	}	
		
.x-tree-node-collapsed .x-tree-node-icon{
	background-image:url(../../extjs/resources/images/gray/tree/folder.gif);
}
.x-tree-node-expanded .x-tree-node-icon{
	background-image:url(../../extjs/resources/images/gray/tree/folder-open.gif);
}
.x-tree-node-leaf .x-tree-node-icon{
	background-image:url(../../extjs/resources/images/gray/tree/leaf.gif);
}		
		
.x-tree-node-loading .x-tree-node-icon{
	background-image:url(../../extjs/resources/images/gray/tree/loading.gif) !important;
}

.x-tree-lines .x-tree-elbow{
	background-image:url(../../extjs/resources/images/gray/tree/elbow.gif);
}
.x-tree-lines .x-tree-elbow-plus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-plus.gif);
}
.x-tree-lines .x-tree-elbow-minus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-minus.gif);
}
.x-tree-lines .x-tree-elbow-end{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-end.gif);
}
.x-tree-lines .x-tree-elbow-end-plus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-end-plus.gif);
}
.x-tree-lines .x-tree-elbow-end-minus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-end-minus.gif);
}
.x-tree-lines .x-tree-elbow-line{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-line.gif);
}


.x-tree-no-lines .x-tree-elbow{
	background:transparent;
}
.x-tree-no-lines .x-tree-elbow-plus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-minus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-minus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end{
	background:transparent;
}
.x-tree-no-lines .x-tree-elbow-end-plus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-end-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end-minus{
	background-image:url(../../extjs/resources/images/gray/tree/elbow-end-minus-nl.gif);
}

.x-tree-drop-ok-append .x-dd-drop-icon{
  background-image: url(../../extjs/resources/images/gray/tree/drop-add.gif);
}
.x-tree-drop-ok-above .x-dd-drop-icon{
  background-image: url(../../extjs/resources/images/gray/tree/drop-over.gif);
}
.x-tree-drop-ok-below .x-dd-drop-icon{
  background-image: url(../../extjs/resources/images/gray/tree/drop-under.gif);
}
.x-tree-drop-ok-between .x-dd-drop-icon{
  background-image: url(../../extjs/resources/images/gray/tree/drop-between.gif);
}		
		
		
		
		.x-toolbar {
			border:0 none;
			background: #efefe3 url(../../extjs/resources/images/gray/toolbar/gray-bg2.gif) repeat-x;
			padding:4px;
		}
		
		.x-layout-panel{
			border:0px none;
		}
		
		.x-btn-icon-22 .x-btn-center .x-btn-text{
			background-position: center;
			background-repeat: no-repeat;
			height: 24px;
			width: 24px;
			cursor:pointer;
			white-space: nowrap;
			padding:0;
		}
		
		.x-btn-icon-32 .x-btn-center .x-btn-text{
			background-position: center;
			background-repeat: no-repeat;
			height: 34px;
			width: 34px;
			cursor:pointer;
			white-space: nowrap;
			padding:0;
		}		
