.x-ux-connectionstatus-online {
    background-image: url(../../../images/icon-set/icon_diconnect.svg) !important;;
}

.x-ux-connectionstatus-offline {
    background-image: url(../../../images/icon-set/icon_diconnect.svg) !important;;
}

.x-ux-connectionstatus-unknown {
    background-image: url(../../../images/oxygen/16x16/categories/system-help.png) !important;;
}