.x-date-picker-wk {
    background:#F0F0F0 url(../../../library/ExtJS/resources/images/gray/toolbar/bg.gif) repeat-x scroll left top;
	border-color:#D0D0D0;
	border-right:1px solid #D0D0D0;
	text-align: center;
	vertical-align:middle;
}