.buildpath
.externalToolBuilders
.project
.pydevproject
.cache
.settings
.DS_Store
nbproject
tine20/config.inc.php
tests/tine20/phpunitconfig.inc.php
tests/setup/phpunitconfig.inc.php
tine20/*/*/*FAT*
tine20/*/js/*-lang-*
tine20/Tinebase/js/Locale/build/*.js
scripts/packaging/tine20build/
.vagrant
tine20/build
scripts/weeklyevents
scripts/custom
scripts/syncuuids/conf.php
tine20/*/translations/*.mo
tine20/.htaccess
tine20/vendor
