.idea
.buildpath
.externalToolBuilders
.project
.pydevproject
.cache
.settings
.DS_Store
nbproject
tine20/config.inc.php
tests/tine20/phpunitconfig.inc.php
tests/setup/phpunitconfig.inc.php
tests/js/unit/artefacts/
tine20/*/*/*[F][A][T]*
tine20/*/*/*/*/*FAT*
tine20/*/*/*FAT*
tine20/*/js/*-lang-*
tine20/Tinebase/js/Locale/build/*.js
scripts/packaging/tine20build/
.vagrant
scripts/vagrant/tmp
scripts/vagrant/cache
scripts/vagrant/files
scripts/vagrant/logs
scripts/vagrant/conf
tine20/build
scripts/weeklyevents
scripts/custom
scripts/syncuuids/conf.php
tine20/*/translations/*.mo
tine20/.htaccess
tine20/install.properties
tine20/Tinebase/js/node_modules*
tine20/vendor*
