includes:
    - phpstan-baseline.neon
parameters:
    universalObjectCratesClasses:
      - Tinebase_Config_Abstract
      - Tinebase_Config_Struct
      - Tinebase_Preference_Abstract
      - Tinebase_Record_Interface
      - Tinebase_Record_RecordSet
      - Zend_Config_Xml
      - Zend_Console_Getopt
      - Zend_Translate
    reportUnmatchedIgnoredErrors: false
    level: 2
    excludePaths:
      analyse:
        - 'tine20/library'
        - 'tine20/vendor'
      analyseAndScan:
        # TODO fix problems with the following classes
        - 'tine20/Tinebase/User/Typo3.php'
        - 'tine20/Setup/Backend/Oracle.php'
        - 'tine20/Setup/Backend/Pgsql.php'
        - 'tine20/Voipmanager/Setup/Update/Release10.php'
