<?php

return array(
    'buildtype' => '{{getv "/buildtype" "RELEASE"}}',
    'confdfolder' => '/etc/tine20/conf.d',

    'logger' => array (
        'active' => true,
        'filename' => 'php://stdout',
        'priority' => {{getv "/logger/priority" "5"}},
    ),

    'filesdir'  => '{{getv "/filesdir" "/var/lib/tine20/files"}}',
    'tmpdir' => '{{getv "/tmpdir" "/var/lib/tine20/tmp"}}',

    'database' => array(
        'host' => '{{getv "/database/host"}}',
        'dbname' => '{{getv "/database/dbname"}}',
        'username' => '{{getv "/database/username"}}',
        'password' => '{{getv "/database/password"}}',
        'tableprefix'  => '{{getv "/database/tableprefix" "tine20_"}}',
        'adapter' => '{{getv "/database/adapter" "pdo_mysql"}}',
    ),

    'setupuser' => array(
        'username' => '{{getv "/setupuser/username"}}',
        'password' => '{{getv "/setupuser/password"}}',
    ),

    'login' => array(
        'username' => '{{getv "/login/username"}}',
        'password' => '{{getv "/login/password"}}',
    ),

    'fulltext' => array(
        'tikaJar' => '/usr/local/bin/tika.jar',
    ),

    'caching' => array (
       'active' => {{getv "/caching/active" "true"}},
       'lifetime' => {{getv "/caching/lifetime" "3600"}},
       'backend' => '{{getv "/caching/backend" "File"}}',
       'redis' => array (
           'host' => '{{getv "/caching/redis/host" ""}}',
           'port' => {{getv "/caching/redis/port" "6379"}},
           'prefix' => '{{getv "/caching/redis/prefix" "master"}}',
       ),
       'path' => '{{getv "/caching/path" "/var/lib/tine20/caching"}}',
    ),

    'filesystem' => array(
        'index_content' => {{getv "/filesystem/index_content" "true"}},
    ),

    'session' => array (
        'lifetime' => {{getv "/session/lifetime" "86400"}},
        'backend' => '{{getv "/session/backend" "File"}}',
        'path' => '{{getv "/session/path" "/var/lib/tine20/sessions"}}',
        'host' => '{{getv "/session/host" ""}}',
        'port' => '{{getv "/session/port" "6379"}}',
    ),

    'credentialCacheSharedKey' => '{{getv "/credentialcachesharedkey"}}',
);
