# /etc/nginx/nginx.conf

user tine20;

worker_processes auto;

pcre_jit on;

error_log /dev/stderr warn;

include /etc/nginx/modules/*.conf;

events {
	worker_connections 1024;
}

http {
	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	server_tokens off;

	keepalive_timeout {{getv "/keepalive/timeout" "65"}};

	sendfile on;

	tcp_nodelay on;

	tcp_nopush off;

	include /etc/nginx/conf.d/*;
	include /etc/nginx/http.d/*;
}
