.x-form-trigger-plugin-wrap .x-form-twin-triggers img.x-form-trigger {
    height: 18px;
}

.ext-webkit .x-small-editor .x-form-trigger-plugin-wrap .x-form-trigger.x-form-trigger-plugin,
.x-small-editor .x-form-trigger-plugin-wrap .x-form-trigger.x-form-trigger-plugin,
.x-toolbar-cell .x-form-trigger-plugin-wrap .x-form-twin-triggers img.x-form-trigger {
    height: 16px;
}

.x-form-trigger.x-form-trigger-plugin {
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 11px;
    width: 17px;
    height: 18px;
    position: absolute;
    right: 0px;
    top: 4px;
}

.x-grid-editor .x-form-trigger.x-form-trigger-plugin {
    background-position: 0px 3px !important;
    top: -1px;
}

.x-form-trigger.x-form-trigger-plugin:hover {
    background-position: 1px 1px !important;
}

.x-form-field-trigger-wrap + .x-form-trigger.x-form-trigger-plugin {
    right: 17px;
}

.x-form-field-twin-trigger-wrap + .x-form-trigger.x-form-trigger-plugin {
    right: 36px;
}

.x-item-disabled + .x-form-trigger.x-form-trigger-plugin {
    opacity: .6;
}

.x-form-field-wrap.x-form-field-trigger-wrap.x-form-field-twin-trigger-wrap > .x-form-trigger-plugin {
    right: 32px;
    top: 0px;
}

.x-trigger-wrap-focus + .x-form-trigger.x-form-trigger-plugin {
    border-color: #0062a7;
}
