.imgCheckboxWrapped {
    line-height: 18px;
    padding-top:2px;
}
.imgCheckboxWrapped a {
    display:block;
    width:20px;
    height:25px;
    float:left;
    position: relative;
    bottom: -13px;
    left: 1px;
}
.x-toolbar .imgcheckbox-wrap {
    padding: 0 0 2px 0;
}
.imgCheckboxTrue {
    background:transparent url(../../../../images/oxygen/16x16/actions/document-decrypt-grey.png) no-repeat 0 0;
    outline:0; 
    -moz-outline:0; 
}
.imgCheckboxFalse {
    background:transparent url(../../../../images/oxygen/16x16/actions/document-encrypt.png) no-repeat 0 0;
    outline:0; 
    -moz-outline:0;     
}
