.tricheckbox-wrap {
    line-height: 18px;
    padding-top:2px;
}
.tricheckbox-wrap a {
    display:block;
    width:20px;
    height:25px;
    float:left;
    position: relative;
    top: -4px;
}
.x-toolbar .tricheckbox-wrap {
    padding: 0 0 2px 0;
}
.tricheckbox-on {
    background:transparent url(../../../../images/TriCheckbox/checkbox-on.gif) no-repeat 0 0;
}
.tricheckbox-off {
    background:transparent url(../../../../images/TriCheckbox/checkbox-off.gif) no-repeat 0 0;
}
.tricheckbox-inherit-on {
    background:transparent url(../../../../images/TriCheckbox/checkbox-inherit-on.gif) no-repeat 0 0;
}
.tricheckbox-inherit-off {
    background:transparent url(../../../../images/TriCheckbox/checkbox-inherit-off.gif) no-repeat 0 0;
}
.tricheckbox-disabled {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    cursor:default;
}