
.ux-action-column-cell .x-grid3-cell-inner {
    padding: 1px;
}
.ux-action-column-item {
    float: left;
    min-width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.ux-action-column-item span {
    padding: 0 0 0 20px;
    line-height: 18px;
}
