.ext-ux-grid-gridviewmenuplugin-menuBtn.x-grid3-hd-btn {
    display:block;
}

.ext-ux-grid-gridviewmenuplugin-menuBtn.x-grid3-hd-btn {
    background-image:url(../../../../images/icon-set/icon_column.svg);
    width:16px;
}

a.ext-ux-grid-gridviewmenuplugin-menuBtn.x-grid3-hd-btn:hover {
    background-position: center;
}
