.x-ux-pagingtb-main {
    background-image: url(../../../../images/icon-set/icon_column_neg.svg) !important;
}

.x-ux-pagingtb-deselect {
    background-image: url(../../../../images/icon-set/icon_list_unselect.svg) !important;
}

.x-ux-pagingtb-selectvisible {
    background-image: url(../../../../images/icon-set/icon_list_select_all.svg) !important;
}

.x-ux-pagingtb-selectall {
    background-image: url(../../../../images/icon-set/icon_list_select_all.svg) !important;
}

.x-ux-pagingtb-toggle {
    background-image: url(../../../../images/icon-set/icon_toggle_selection.svg) !important;
}

.x-ux-pagingtb-refresh-disabled .x-btn-text.x-tbar-loading {
    background-image: url(../../../../library/ExtJS/resources/images/gray/grid/refresh.gif) !important;
}