#csscheck {
    display: none;
}

div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}

.rp-print-title {
    text-align: center;
    font-size: 20px;
}
/* ------------ single record ------------ */

.rp-print-single-details-row:nth-of-type(odd) {
    background: #e0e0e0;
}

.customfield-rendered-label,
.rp-print-single-label{
    font-style: italic;
    display: inline-block;
    width: 6cm;
}

.rp-print-single-block-heading {
    font-weight: bold;
}

.rp-print-single-block {
    margin-left: 0.5cm;
}

.rp-print-single-value {

}

.rp-print-single-summary {
    font-weight: bold;
    font-size: 25px;
}

.rp-print-single {
    margin-left: 1cm;
    margin-right: 1cm;
}

.rp-print-single-logo {
    text-align: right;
    margin-bottom: 1cm;
}

.rp-print-single-image {
    text-align: left;
}

.gridpanelrenderer_header_gridtitle {
    font-weight: bold;
    margin-top: 0.4cm;
    text-decoration: underline;
}

.rp-print-single-block .gridpanelrenderer_header_title,
.rp-print-single-block .gridpanelrenderer_header_logo {
    display: none;
}

