@CHARSET "UTF-8";

.action_enable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-apply.png) !important;
}

.action_disable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}

.action_settings {
    background-image:url(../../images/oxygen/16x16/actions/view-choose.png) !important;
}

.action_permissions {
    background-image:url(../../images/oxygen/16x16/status/dialog-password.png) !important;
}

.action_addGroup {
    background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}

.AdminIconCls {
    background-image:url(../../images/oxygen/16x16/apps/systemtray.png) !important;
}
