.action_enable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-apply.png) !important;
}
.x-btn-medium .action_enable {
    background-image:url(../../images/oxygen/22x22/actions/dialog-apply.png) !important;
}
.x-btn-large .action_enable {
    background-image:url(../../images/oxygen/32x32/actions/dialog-apply.png) !important;
}


.action_disable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}
.x-btn-medium .action_disable {
    background-image:url(../../images/oxygen/22x22/actions/dialog-cancel.png) !important;
}
.x-btn-large .action_disable {
    background-image:url(../../images/oxygen/32x32/actions/dialog-cancel.png) !important;
}


.action_settings {
    background-image:url(../../images/oxygen/16x16/actions/view-choose.png) !important;
}
.x-btn-medium .action_settings {
    background-image:url(../../images/oxygen/22x22/actions/view-choose.png) !important;
}
.x-btn-large .action_settings {
    background-image:url(../../images/oxygen/32x32/actions/view-choose.png) !important;
}


.action_permissions {
    background-image:url(../../images/oxygen/16x16/status/dialog-password.png) !important;
}
.x-btn-medium .action_permissions {
    background-image:url(../../images/oxygen/22x22/status/dialog-password.png) !important;
}
.x-btn-large .action_permissions {
    background-image:url(../../images/oxygen/32x32/status/dialog-password.png) !important;
}


.action_addGroup {
    background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}
.x-btn-medium .action_addGroup {
    background-image:url(../../images/oxygen/22x22/actions/add-users.png) !important;
}
.x-btn-large .action_addGroup {
    background-image:url(../../images/oxygen/32x32/actions/add-users.png) !important;
}


.action_password {
    background-image:url(../../images/oxygen/16x16/actions/password.png) !important;
}
.x-btn-medium .action_password {
    background-image:url(../../images/oxygen/22x22/actions/password.png) !important;
}
.x-btn-large .action_password {
    background-image:url(../../images/oxygen/32x32/actions/password.png) !important;
}


.AdminIconCls {
    background-image:url(../../images/oxygen/16x16/apps/systemtray.png) !important;
}
.x-btn-medium .AdminIconCls {
    background-image:url(../../images/oxygen/22x22/apps/systemtray.png) !important;
}
.x-btn-large .AdminIconCls {
    background-image:url(../../images/oxygen/32x32/apps/systemtray.png) !important;
}


.admin-node-accesslog {
    background-image:url(../../images/oxygen/16x16/actions/view-process-own.png) !important;
}
.x-btn-medium .admin-node-accesslog {
    background-image:url(../../images/oxygen/22x22/actions/view-process-own.png) !important;
}
.x-btn-large .admin-node-accesslog {
    background-image:url(../../images/oxygen/32x32/actions/view-process-own.png) !important;
}


.admin-node-user {
    background-image:url(../../images/oxygen/16x16/places/user-identity.png) !important;
}
.x-btn-medium .admin-node-user {
    background-image:url(../../images/oxygen/22x22/places/user-identity.png) !important;
}
.x-btn-large .admin-node-user {
    background-image:url(../../images/oxygen/32x32/places/user-identity.png) !important;
}


.admin-node-groups {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}
.x-btn-medium .admin-node-groups {
    background-image:url(../../images/oxygen/22x22/actions/users.png) !important;
}
.x-btn-large .admin-node-groups {
    background-image:url(../../images/oxygen/32x32/actions/users.png) !important;
}


.admin-node-computers {
    background-image:url(../../images/oxygen/16x16/places/network-local.png) !important;
}
.x-btn-medium .admin-node-computers {
    background-image:url(../../images/oxygen/22x22/places/network-local.png) !important;
}
.x-btn-large .admin-node-computers {
    background-image:url(../../images/oxygen/32x32/places/network-local.png) !important;
}


.admin-node-applications {
    background-image:url(../../images/oxygen/16x16/places/user-desktop.png) !important;
}
.x-btn-medium .admin-node-applications {
    background-image:url(../../images/oxygen/22x22/places/user-desktop.png) !important;
}
.x-btn-large .admin-node-applications {
    background-image:url(../../images/oxygen/32x32/places/user-desktop.png) !important;
}


.x-tree-node-collapsed .x-tree-node-icon.x-tree-node-leaf-roles, 
.x-tree-node-expanded .x-tree-node-icon.x-tree-node-leaf-roles, 
.x-tree-node-leaf .x-tree-node-icon.x-tree-node-leaf-roles ,
.x-tree-node-leaf-roles {
	width:1px;
}
