.action_enable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-apply.png) !important;
}

.action_disable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}

.action_settings {
    background-image:url(../../images/oxygen/16x16/actions/view-choose.png) !important;
}

.action_permissions {
    background-image:url(../../images/oxygen/16x16/status/dialog-password.png) !important;
}

.action_addGroup {
    background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}

.action_password {
    background-image:url(../../images/oxygen/16x16/actions/password.png) !important;
}

.AdminIconCls {
    background-image:url(../../images/oxygen/16x16/apps/systemtray.png) !important;
}

.admin-node-accesslog {
    background-image:url(../../images/oxygen/16x16/actions/view-process-own.png) !important;
}

.admin-node-user {
    background-image:url(../../images/oxygen/16x16/places/user-identity.png) !important;
}

.admin-node-groups {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}

.admin-node-computers {
    background-image:url(../../images/oxygen/16x16/places/network-local.png) !important;
}

.admin-node-applications {
    background-image:url(../../images/oxygen/16x16/places/user-desktop.png) !important;
}

.x-tree-node-collapsed .x-tree-node-icon.x-tree-node-leaf-roles, 
.x-tree-node-expanded .x-tree-node-icon.x-tree-node-leaf-roles, 
.x-tree-node-leaf .x-tree-node-icon.x-tree-node-leaf-roles ,
.x-tree-node-leaf-roles {
	width:1px;
}
