.action_settings {
    background-image:url(../../images/icon-set/icon_settings.svg) !important;
}

.action_permissions {
    background-image:url(../../images/icon-set/icon_password.svg) !important;
}

.action_addGroup {
    background-image:url(../../images/icon-set/icon_group_full.svg) !important;
}


.action_resetHttpClientInfo {
    background-image:url(../../images/icon-set/icon_export.svg) !important;
}

.action_openPhonesWebGui {
    background-image:url(../../images/icon-set/icon_globe.svg) !important;
}


.VoipmanagerIconCls {
    background-image:url(../../images/icon-set/icon_phone.svg) !important;
}

.cboxmiddle {
    vertical-align: middle;
    left: 2px !important;
    top: 9px !important;
}

.x-form-check-wrap {
    line-height:24px !important;
}

.down {
    position: relative;
    bottom: -14px;
}

.voipmanager-row-changed td{
    font-weight: bold;
}

