.action_enable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-apply.png) !important;
}

.action_disable {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}

.action_settings {
    background-image:url(../../images/oxygen/16x16/actions/view-choose.png) !important;
}

.action_permissions {
    background-image:url(../../images/oxygen/16x16/status/dialog-password.png) !important;
}

.action_add {
    background-image:url(../../images/oxygen/16x16/actions/list-add.png) !important;
}

.action_addGroup {
    background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}

.action_resetHttpClientInfo {
    background-image:url(../../images/oxygen/16x16/actions/document-export.png) !important;
}

.action_openPhonesWebGui {
    background-image:url(../../images/oxygen/16x16/apps/internet-web-browser.png) !important;
}
.VoipmanagerIconCls {
    background-image:url(../../images/oxygen/16x16/apps/kcall.png) !important;
}

.cboxmiddle {
    vertical-align: middle;
    left: 2px !important;
    top: 9px !important;
}

.x-form-check-wrap {
    line-height:24px !important;
}

.down {
    position: relative;
    bottom: -14px;
}

.voipmanager-row-changed td{
    font-weight: bold;
}

