<?php
return array(
    'actionqueue' => array(
        'active' => {{ getv "/actionqueue/active" "true" }},
        'backend' => 'Redis',
        'host' => '{{ getv "/actionqueue/host" "" }}',
        'port' => {{ getv "/actionqueue/port" "6379" }},
        'queueName' => 'actionqueue'
    ),
);
