.action_addList {
	background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}
.x-btn-medium .action_addList {
    background-image:url(../../images/oxygen/22x22/actions/add-users.png) !important;
}

.action_displayContacts {
	background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}
.x-btn-medium .action_displayContacts {
    background-image:url(../../images/oxygen/22x22/actions/user.png) !important;
}

.action_displayLists {
	background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}
.x-btn-medium .action_displayLists {
    background-image:url(../../images/oxygen/22x22/actions/users.png) !important;
}

.AddressbookIconCls {
    background-image:url(../../images/oxygen/16x16/apps/kaddressbook.png) !important;
}
.x-btn-medium .AddressbookIconCls {
    background-image:url(../../images/oxygen/22x22/apps/kaddressbook.png) !important;
}

.x-form-item-float-left {
    float: left;
    margin-right: 5px;
}
