.action_addList {
    background-image:url(../../images/icon-set/icon_address_group_plus.svg) !important;
}

.AddressbookIconCls, .AddressbookContact {
    background-image:url(../../images/icon-set/icon_adressbook.svg) !important;
}

.action_parseAddress {
    background-image:url(../../images/icon-set/icon_addressbook_plus.svg) !important;
}

.x-form-item-float-left {
    float: left;
    margin-right: 5px;
}

.renderer_typeAccountIcon {
    background-image:url(../../images/icon-set/icon_profil.svg) !important;
}

.renderer_typeContactIcon {
    background-image:url(../../images/icon-set/icon_user.svg) !important;
}

.renderer_typeEmailAccountIcon {
    background-image:url(../../images/icon-set/icon_email.svg) !important;
}

.renderer_typeGroupIcon, .AddressbookList{
    background-image:url(../../images/icon-set/icon_group_full.svg) !important;
}

.renderer_typeListIcon {
    background-image:url(../../images/icon-set/icon_address_group.svg) !important;
}

.renderer_typePrivateIcon {
    background-image: url(../../images/icon-set/icon_calender_class_private.svg) !important;
}

.renderer_typeMailingListIcon {
    background-image: url(../../images/icon-set/icon_email_mailinglist.svg) !important;
}

.renderer_typeGroupMemberIcon {
    background-image:url(../../images/icon-set/icon_groupmember.svg) !important;
}

.renderer_displayNameRenderer_noName {
    font-style: italic;
    /*color: #808080;*/
}

.addressbook-search-combo table {
    width: 100%;
    font-size: 11px;
    border: none;
}

.addressbook-search-combo td {
    vertical-align: top;
    padding-top: 4px;
}

.AddressbookStructure {
    background-image:url(../../images/icon-set/icon_address_structure.svg) !important;
    background-repeat: no-repeat;
}

.adb-avatar-wrap {
    padding: 1px 2px;
    border-radius: 3px;
}
