html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}

/* ----- actions -------------------------------------------------------------*/
.action_edit {
    background-image:url(../../images/oxygen/16x16/actions/edit.png) !important;
}

.action_delete {
    background-image:url(../../images/oxygen/16x16/actions/edit-delete.png) !important;
}

.action_applyChanges {
    background-image:url(../../images/oxygen/16x16/actions/dialog-ok-apply.png) !important;
}

.action_cancel {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}

.action_saveAndClose {
    background-image:url(../../images/oxygen/16x16/actions/dialog-ok.png) !important;
}

.action_addContact {
    background-image:url(../../images/oxygen/16x16/actions/add-user.png) !important;
}

.action_deleteContact {
    background-image:url(../../images/oxygen/16x16/actions/delete-user.png) !important;
}

.action_exportAsPdf {
    background-image:url(../../images/oxygen/16x16/mimetypes/pdf.png) !important;
}

.action_showArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-extract.png) !important;
}

.action_hideArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-delete.png) !important;
}

.action_logOut {
    background-image:url(../../images/oxygen/16x16/actions/system-shutdown.png) !important;
}

.action_selectUser {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}

.action_selectGroup {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}
.action_tag {
    background-image:url(../../images/oxygen/16x16/actions/rss-tag.png) !important;
}
.action_uploadImage {
    background-image:url(../../images/oxygen/16x16/actions/insert-image.png) !important;
}
.action_cropImage {
	background-image:url(../../images/oxygen/16x16/actions/select-rectangular.png) !important;
}

/* ----- renderer ------------------------------------------------------------*/
.renderer {
    width: 12px;
    float: left;
    padding-left: 5px;
}

.renderer_accountUserIcon {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}

.renderer_accountGroupIcon {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}

/* ----- notes ------------------------------------------------------------*/
.notes_noteIcon {
   background-image:url(../../images/oxygen/16x16/actions/note.png) !important;
}
.notes_telephoneIcon {
   background-image:url(../../images/oxygen/16x16/apps/kcall.png) !important;
}
.notes_emailIcon {
   background-image:url(../../images/oxygen/16x16/actions/kontact-mail.png) !important;
}

.descriptionIcon {
   background-image:url(../../images/oxygen/16x16/apps/kwrite.png) !important;
}

/* ----- appchooser panel-----------------------------------------------------*/
.app-panel-header-active {
    /*background:transparent url(../../ExtJS/resources/images/default/panel/light-hd.gif) repeat-x scroll 0pt -9px;*/
    background:#EBF3FD url(../../ExtJS/resources/images/default/grid/grid3-hrow-over.gif) repeat-x scroll left bottom;
}
.app-panel-header-over {
    /*background:transparent url(../../ExtJS/resources/images/default/panel/light-hd.gif) repeat-x scroll 0pt -9px;*/
    background:#EBF3FD url(../../ExtJS/resources/images/default/grid/grid3-hrow-over.gif) repeat-x scroll left bottom;
}
}