html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}

.action_edit {
    background-image:url(../../images/oxygen/16x16/actions/edit.png) !important;
}

.action_delete {
    background-image:url(../../images/oxygen/16x16/actions/edit-delete.png) !important;
}

.action_saveAndClose {
    background-image:url(../../images/oxygen/16x16/actions/document-save.png) !important;
}

.action_applyChanges {
    background-image:url(../../images/oxygen/16x16/actions/save-all.png) !important;
}

.action_addContact {
    background-image:url(../../images/oxygen/16x16/actions/add-user.png) !important;
}

.action_deleteContact {
    background-image:url(../../images/oxygen/16x16/actions/delete-user.png) !important;
}

.action_exportAsPdf {
    background-image:url(../../images/oxygen/16x16/mimetypes/pdf.png) !important;
}

.action_showArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-extract.png) !important;
}

.action_hideArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-delete.png) !important;
}

.action_logOut {
    background-image:url(../../images/oxygen/16x16/actions/system-log-out.png) !important;
}

.action_selectUser {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}

.action_selectGroup {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
} 
