html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}

/* ----- actions -------------------------------------------------------------*/
.action_edit {
    background-image:url(../../images/oxygen/16x16/actions/edit.png) !important;
}

.action_rename {
    background-image:url(../../images/oxygen/16x16/actions/document-properties.png) !important;
}

.action_delete {
    background-image:url(../../images/oxygen/16x16/actions/edit-delete.png) !important;
}

.action_duplicate {
    background-image:url(../../images/oxygen/16x16/actions/edit-copy.png) !important;
}

.action_applyChanges {
    background-image:url(../../images/oxygen/16x16/actions/dialog-ok-apply.png) !important;
}

.action_cancel {
    background-image:url(../../images/oxygen/16x16/actions/dialog-cancel.png) !important;
}

.action_saveAndClose {
    background-image:url(../../images/oxygen/16x16/actions/dialog-ok.png) !important;
}

.action_managePermissions {
    background-image:url(../../images/oxygen/16x16/actions/password.png) !important;
}

.action_addContact {
    background-image:url(../../images/oxygen/16x16/actions/add-user.png) !important;
}

.action_deleteContact {
    background-image:url(../../images/oxygen/16x16/actions/delete-user.png) !important;
}

.action_exportAsPdf {
    background-image:url(../../images/oxygen/16x16/mimetypes/pdf.png) !important;
}

.action_showArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-extract.png) !important;
}

.action_hideArchived {
    background-image:url(../../images/oxygen/16x16/actions/ark-delete.png) !important;
}

.action_logOut {
    background-image:url(../../images/oxygen/16x16/actions/system-shutdown.png) !important;
}

.action_login {
    background-image:url(../../images/oxygen/16x16/actions/view-refresh.png) !important;
}

.action_selectUser {
    background-image:url(../../images/oxygen/16x16/actions/user-female.png) !important;
}

.action_selectGroup {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}
.action_tag {
    background-image:url(../../images/oxygen/16x16/actions/rss-tag.png) !important;
}
.action_uploadImage {
    background-image:url(../../images/oxygen/16x16/actions/insert-image.png) !important;
}
.action_cropImage {
	background-image:url(../../images/oxygen/16x16/actions/select-rectangular.png) !important;
}
.action_originalImage {
    background-image:url(../../images/oxygen/16x16/mimetypes/image-jpeg2000.png) !important;
}
.action_export {
    background-image:url(../../images/oxygen/16x16/actions/file-export.png) !important;
}	
.action_import {
    background-image:url(../../images/oxygen/16x16/actions/view-sort-ascending.png) !important;
}   
.action_preferences {
    background-image:url(../../images/oxygen/16x16/actions/exec.png) !important;
}   
.action_about {
    background-image:url(../../images/oxygen/16x16/actions/dialog-information.png) !important;
}

.action_adminMode {
    background-image:url(../../images/oxygen/16x16/apps/systemtray.png) !important;
}

.action_composeEmail {
    background-image:url(../../images/oxygen/16x16/apps/kmail.png) !important;
}

/* ----- about dialog --------------------------------------------------------*/
.tb-about-dlg {
    text-align: center;
}
.tb-about-version{
    margin-top: 50px;
    font-weight: bold;
}
.tb-about-build {
    font-size: smaller;
}
.tb-about-copyright {
    margin-top: 50px;
}

/* ----- account renderer ------------------------------------------------------------*/
.renderer {
    width: 12px;
    float: left;
    padding-left: 5px;
}

.renderer_accountUserIcon {
    background-image:url(../../images/oxygen/16x16/actions/user-female.png) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.renderer_accountGroupIcon {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.renderer_accountGroupmemberIcon {
    background-image:url(../../images/groupmember.png) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.renderer_accountContactIcon {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.tinebase-accounttype-user {
    background-image:url(../../images/oxygen/16x16/actions/user-female.png) !important;
}

.tinebase-accounttype-group {
    background-image:url(../../images/oxygen/16x16/actions/users.png) !important;
}

.tinebase-accounttype-addanyone {
    background-image:url(../../images/oxygen/16x16/actions/add-users.png) !important;
}

/* ----- notes ------------------------------------------------------------*/
.notes_noteIcon {
   background-image:url(../../images/oxygen/16x16/actions/note.png) !important;
}
.notes_telephoneIcon {
   background-image:url(../../images/oxygen/16x16/apps/kcall.png) !important;
}
.notes_emailIcon {
   background-image:url(../../images/oxygen/16x16/actions/kontact-mail.png) !important;
}

.notes_createdIcon {
   background-image:url(../../images/oxygen/16x16/actions/knewstuff.png) !important;
}

.notes_changedIcon {
   background-image:url(../../images/oxygen/16x16/actions/document-properties.png) !important;
}

.descriptionIcon {
   background-image:url(../../images/oxygen/16x16/apps/kwrite.png) !important;
}

/* ----- appchooser panel-----------------------------------------------------*/
.app-panel-title {
    font-size: 15px;
    font-weight: normal;
    padding-top: 7px;
}
.app-panel-header-active {
    background:transparent url(../../library/ExtJS/resources/images/default/panel/light-hd.gif) repeat-x scroll 0pt -9px;
    /*background:#EBF3FD url(../../library/ExtJS/resources/images/default/grid/grid3-hrow-over.gif) repeat-x scroll left bottom;*/
}
.app-panel-header-over {
    /*background:transparent url(../../library/ExtJS/resources/images/default/panel/light-hd.gif) repeat-x scroll 0pt -9px;*/
    background:#EBF3FD url(../../library/ExtJS/resources/images/default/grid/grid3-hrow-over.gif) repeat-x scroll left bottom;
}

.app-panel-appicon-text {
    position: absolute;
    top: 0px;
    width: 20px;
    overflow: hidden;
}

.app-panel-apptitle-text {
    margin-left: 5px;
}

/******* grid row classes *********/
.grid_row_enabled td{
	font-weight: bold;
	/* background-color: '#b5efc8'; */
}

.grid_row_disabled td{
    /* background-color: '#efb5b5'; */
}

/******** downloads ***********/

.tinebase-download-link{
	cursor: pointer;
	color: blue;
}

span:hover.tinebase-download-link {
    color: #4444ff;
}

/******** email ***********/

a:hover.tinebase-email-link {
    color: #4444ff;
}

.tinebase-addtocontacts-link{
    cursor: pointer;
    color: blue;
}

span:hover.tinebase-addtocontacts-link {
    color: #4444ff;
}

.tinebase-showheaders-link{
    cursor: pointer;
    color: blue;
}

span:hover.tinebase-showheaders-link {
    color: #4444ff;
}
