* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

a {
    color: #028cd2;
    font-size: 15px;
    text-decoration: none;
}

html {
    background-color: #F5F7FA;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #E6E9ED;
    background-color: #ffffff;
}

header {
    height: 55px;
    max-width: 1000px;
    background-image: url("images/tine20.png");
    background-repeat: no-repeat;
}

header span {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 190px;
    width: 120px;
}

section {
    display: table;
    width: 100%;
}

section h1 {
    font-size: 25px;
    width: 100%;
    display: block;
    border-bottom: 3px solid #028cd2;
}

p, li, span {
    font-size: 15px;
    padding: 2px;
    margin: 2px;
    color: #000;
}

section ul, li {
    margin-left: 15px;
    padding-left: 0px;
}

footer {
    padding-top: 10px;
    padding-left: 4px;
    color: #c8c8c8;
    font-size: 15px;
}

.column {
    min-width:487px;
    width: 487px;
    float: left;
    margin-right: 25px;
}

.column + .column {
    margin-right: 0px;
}

.clear {
    clear: both;
}

span {
    margin: 0;
    padding: 0;
}