<?php
// TODO: rename to config.inc.php and add your database settings

// minimal configuration
return array(
    'database' => array(
        'host'          => 'ENTER DATABASE HOSTNAME',
        'dbname'	    => 'ENTER DATABASE NAME',
        'username'      => 'ENTER DATABASE USERNAME',
        'password'      => 'ENTER DATABASE PASSWORD',
        'adapter'       => 'pdo_mysql',
        'tableprefix'   => 'tine20_',
    ),
    'setupuser' => array(
        'username'      => 'tine20setup',
        'password'      => 'setup' 
    ),
  /*'themes' => array(
  	'default' => 0,
  	'themelist' => array(
		0 => array(
			'name' =>'TineSkin',
			'path' => 'styles/tine20.css',
			'useBlueAsBase' => 1,
		),
		1 => array(
			'name' =>'ExtJS Blue',
			'path' => 'library/ExtJS/resources/css/xtheme-blue.css',
		),
		2 => array(
			'name' =>'ExtJS Slate',
			'path' => 'extjsthemes/xtheme-slate/css/xtheme-slate.css',
			'useBlueAsBase' => 1,
		),
		3 => array(
			'name' => 'ExtJS Slickness',
			'path' => 'extjsthemes/xtheme-slickness/css/xtheme-slickness.css',
			'useBlueAsBase' => 1,
		),
		4 => array(
			'name' => 'ExtJS ProcessSkin_ext_3',
			'path' => 'extjsthemes/ProcessSkin_ext_3/css/xtheme-tp.css',
		),
	)
  ),*/
);

