.standardFileClass {
    background-image: url(/images/oxygen/16x16/mimetypes/application-octet-stream.png) !important;
}

.application-pdf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pdf.png) !important;
}

.application-x-krita {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-krita.png) !important;
}

.shellscript {
    background-image: url(/images/oxygen/16x16/mimetypes/shellscript.png) !important;
}

.application-x-ar {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-ar.png) !important;
}

.application-x-java-applet {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-java-applet.png) !important;
}

.application-x-marble {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-marble.png) !important;
}

.image-x-portable-bitmap {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-portable-bitmap.png) !important;
}

.application-vnd.oasis.opendocument.database {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.database.png) !important;
}

.application-vnd.oasis.opendocument.text {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.text.png) !important;
}

.image-jpeg2000 {
    background-image: url(/images/oxygen/16x16/mimetypes/image-jpeg2000.png) !important;
}

.image-x-generic {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-generic.png) !important;
}

.uri-mms {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-mms.png) !important;
}

.application-x-wmf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-wmf.png) !important;
}

.text-x-patch {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-patch.png) !important;
}

.make {
    background-image: url(/images/oxygen/16x16/mimetypes/make.png) !important;
}

.tex {
    background-image: url(/images/oxygen/16x16/mimetypes/tex.png) !important;
}

.none {
    background-image: url(/images/oxygen/16x16/mimetypes/none.png) !important;
}

.audio-aac {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-aac.png) !important;
}

.application-x-gzpostscript {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-gzpostscript.png) !important;
}

.text-sgml {
    background-image: url(/images/oxygen/16x16/mimetypes/text-sgml.png) !important;
}

.application-x-kgetlist {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-kgetlist.png) !important;
}

.application-x-rpm {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-rpm.png) !important;
}

.message {
    background-image: url(/images/oxygen/16x16/mimetypes/message.png) !important;
}

.application-x-java {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-java.png) !important;
}

.image-x-portable-pixmap {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-portable-pixmap.png) !important;
}

.audio-x-mpegurl {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-mpegurl.png) !important;
}

.cdbo-list {
    background-image: url(/images/oxygen/16x16/mimetypes/cdbo-list.png) !important;
}

.video-mp4 {
    background-image: url(/images/oxygen/16x16/mimetypes/video-mp4.png) !important;
}

.document {
    background-image: url(/images/oxygen/16x16/mimetypes/document.png) !important;
}

.font-bitmap {
    background-image: url(/images/oxygen/16x16/mimetypes/font-bitmap.png) !important;
}

.info {
    background-image: url(/images/oxygen/16x16/mimetypes/info.png) !important;
}

.image-x-ico {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-ico.png) !important;
}

.audio-x-aiff {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-aiff.png) !important;
}

.text-rtf {
    background-image: url(/images/oxygen/16x16/mimetypes/text-rtf.png) !important;
}

.application-xml {
    background-image: url(/images/oxygen/16x16/mimetypes/application-xml.png) !important;
}

.text-x-pascal {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-pascal.png) !important;
}

.video-x-matroska {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-matroska.png) !important;
}

.application-x-tzo {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-tzo.png) !important;
}

.application-x-cpio {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-cpio.png) !important;
}

.text-x-texinfo {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-texinfo.png) !important;
}

.application-x-compress {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-compress.png) !important;
}

.text-x-xslfo {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-xslfo.png) !important;
}

.application-vnd.sun.xml.draw {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.sun.xml.draw.png) !important;
}

.application-vnd.oasis.opendocument.spreadsheet-template {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.spreadsheet-template.png) !important;
}

.application-x-java-archive {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-java-archive.png) !important;
}

.text-x-ldif {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-ldif.png) !important;
}

.text-x-bibtex {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-bibtex.png) !important;
}

.application-xslt+xml {
    background-image: url(/images/oxygen/16x16/mimetypes/application-xslt+xml.png) !important;
}

.unknown {
    background-image: url(/images/oxygen/16x16/mimetypes/unknown.png) !important;
}

.text-x-dtd {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-dtd.png) !important;
}

.kwordquiz-do {
    background-image: url(/images/oxygen/16x16/mimetypes/kwordquiz-do.png) !important;
}

.vcard {
    background-image: url(/images/oxygen/16x16/mimetypes/vcard.png) !important;
}

.application-xsd {
    background-image: url(/images/oxygen/16x16/mimetypes/application-xsd.png) !important;
}

.audio-x-mp2 {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-mp2.png) !important;
}

.uri-rtspu {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-rtspu.png) !important;
}

.text-x-objcsrc {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-objcsrc.png) !important;
}

.audio-midi {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-midi.png) !important;
}

.application-x-compressed-tar {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-compressed-tar.png) !important;
}

.application-vnd.stardivision.calc {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.stardivision.calc.png) !important;
}

.video {
    background-image: url(/images/oxygen/16x16/mimetypes/video.png) !important;
}

.image-x-fits {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-fits.png) !important;
}

.text-x-vcard {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-vcard.png) !important;
}

.application-vnd.stardivision.draw {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.stardivision.draw.png) !important;
}

.text-vnd.abc {
    background-image: url(/images/oxygen/16x16/mimetypes/text-vnd.abc.png) !important;
}

.txt {
    background-image: url(/images/oxygen/16x16/mimetypes/txt.png) !important;
}

.text-calendar {
    background-image: url(/images/oxygen/16x16/mimetypes/text-calendar.png) !important;
}

.tgz {
    background-image: url(/images/oxygen/16x16/mimetypes/tgz.png) !important;
}

.video-x-flic {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-flic.png) !important;
}

.application-x-gzdvi {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-gzdvi.png) !important;
}

.text-x-chdr {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-chdr.png) !important;
}

.application-x-ruby {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-ruby.png) !important;
}

.application-x-mswrite {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-mswrite.png) !important;
}

.application-x-perl {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-perl.png) !important;
}

.audio-mpeg {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-mpeg.png) !important;
}

.application-vnd.oasis.opendocument.presentation-template {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.presentation-template.png) !important;
}

.application-x-designer {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-designer.png) !important;
}

.image-x-dcraw {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-dcraw.png) !important;
}

.application-relaxng {
    background-image: url(/images/oxygen/16x16/mimetypes/application-relaxng.png) !important;
}

.application-x-bzdvi {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-bzdvi.png) !important;
}

.application-vnd.ms-powerpoint {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.ms-powerpoint.png) !important;
}

.application-x-mimearchive {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-mimearchive.png) !important;
}

.text-csv {
    background-image: url(/images/oxygen/16x16/mimetypes/text-csv.png) !important;
}

.image-fax-g3 {
    background-image: url(/images/oxygen/16x16/mimetypes/image-fax-g3.png) !important;
}

.application-x-font-ttf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-ttf.png) !important;
}

.application-vnd.oasis.opendocument.chart {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.chart.png) !important;
}

.empty {
    background-image: url(/images/oxygen/16x16/mimetypes/empty.png) !important;
}

.sound {
    background-image: url(/images/oxygen/16x16/mimetypes/sound.png) !important;
}

.x-office-address-book {
    background-image: url(/images/oxygen/16x16/mimetypes/x-office-address-book.png) !important;
}

.image-x-photo-cd {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-photo-cd.png) !important;
}

.image-svg+xml {
    background-image: url(/images/oxygen/16x16/mimetypes/image-svg+xml.png) !important;
}

.x-media-podcast {
    background-image: url(/images/oxygen/16x16/mimetypes/x-media-podcast.png) !important;
}

.application-pgp-keys {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pgp-keys.png) !important;
}

.application-x-arc {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-arc.png) !important;
}

.text-directory {
    background-image: url(/images/oxygen/16x16/mimetypes/text-directory.png) !important;
}

.news {
    background-image: url(/images/oxygen/16x16/mimetypes/news.png) !important;
}

.text-x-generic {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-generic.png) !important;
}

.application-vnd.oasis.opendocument.formula {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.formula.png) !important;
}

.image-svg+xml-compressed {
    background-image: url(/images/oxygen/16x16/mimetypes/image-svg+xml-compressed.png) !important;
}

.image-x-exr {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-exr.png) !important;
}

.application-octet-stream {
    background-image: url(/images/oxygen/16x16/mimetypes/application-octet-stream.png) !important;
}

.application-x-sharedlib {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-sharedlib.png) !important;
}

.audio-x-mod {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-mod.png) !important;
}

.text-xmcd {
    background-image: url(/images/oxygen/16x16/mimetypes/text-xmcd.png) !important;
}

.image-x-psd {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-psd.png) !important;
}

.application-vnd.sun.xml.calc.template {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.sun.xml.calc.template.png) !important;
}

.ascii {
    background-image: url(/images/oxygen/16x16/mimetypes/ascii.png) !important;
}

.image-cgm {
    background-image: url(/images/oxygen/16x16/mimetypes/image-cgm.png) !important;
}

.image-x-msod {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-msod.png) !important;
}

.application-x-tar {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-tar.png) !important;
}

.image-x-hdr {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-hdr.png) !important;
}

.application-x-php {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-php.png) !important;
}

.text-x-objchdr {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-objchdr.png) !important;
}

.application-x-ms-dos-executable {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-ms-dos-executable.png) !important;
}

.application-x-gnumeric {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-gnumeric.png) !important;
}

.image-x-jng {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-jng.png) !important;
}

.application-vnd.oasis.opendocument.graphics {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.graphics.png) !important;
}

.uri-mmsu {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-mmsu.png) !important;
}

.application-x-bittorrent {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-bittorrent.png) !important;
}

.application-pkcs7-mime {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pkcs7-mime.png) !important;
}

.video-x-generic {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-generic.png) !important;
}

.application-illustrator {
    background-image: url(/images/oxygen/16x16/mimetypes/application-illustrator.png) !important;
}

.application-vnd.ms-word {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.ms-word.png) !important;
}

.text-x-katefilelist {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-katefilelist.png) !important;
}

.x-office-calendar {
    background-image: url(/images/oxygen/16x16/mimetypes/x-office-calendar.png) !important;
}

.application-x-awk {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-awk.png) !important;
}

.application-vnd.ms-excel {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.ms-excel.png) !important;
}

.application-x-trash {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-trash.png) !important;
}

.font-type1 {
    background-image: url(/images/oxygen/16x16/mimetypes/font-type1.png) !important;
}

.application-x-executable-script {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-executable-script.png) !important;
}

.text-enriched {
    background-image: url(/images/oxygen/16x16/mimetypes/text-enriched.png) !important;
}

.audio-x-musepack {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-musepack.png) !important;
}

.application-x-bzip-compressed-tar {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-bzip-compressed-tar.png) !important;
}

.text-troff {
    background-image: url(/images/oxygen/16x16/mimetypes/text-troff.png) !important;
}

.video-x-ms-wmv {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-ms-wmv.png) !important;
}

.application-x-mplayer2 {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-mplayer2.png) !important;
}

.application-x-cda {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-cda.png) !important;
}

.application-pgp-signature {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pgp-signature.png) !important;
}

.text-x-tex {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-tex.png) !important;
}

.audio-x-adpcm {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-adpcm.png) !important;
}

.application-x-archive {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-archive.png) !important;
}

.image-x-tga {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-tga.png) !important;
}

.vcalendar {
    background-image: url(/images/oxygen/16x16/mimetypes/vcalendar.png) !important;
}

.font-truetype {
    background-image: url(/images/oxygen/16x16/mimetypes/font-truetype.png) !important;
}

.application-vnd.rn-realmedia {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.rn-realmedia.png) !important;
}

.package-x-generic {
    background-image: url(/images/oxygen/16x16/mimetypes/package-x-generic.png) !important;
}

.text-x-script {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-script.png) !important;
}

.application-x-cd-image {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-cd-image.png) !important;
}

.inode-directory {
    background-image: url(/images/oxygen/16x16/mimetypes/inode-directory.png) !important;
}

.application-x-python-bytecode {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-python-bytecode.png) !important;
}

.text-x-csrc {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-csrc.png) !important;
}

.application-vnd.sun.xml.calc {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.sun.xml.calc.png) !important;
}

.application-xhtml+xml {
    background-image: url(/images/oxygen/16x16/mimetypes/application-xhtml+xml.png) !important;
}

.text-x-makefile {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-makefile.png) !important;
}

.application-rss+xml {
    background-image: url(/images/oxygen/16x16/mimetypes/application-rss+xml.png) !important;
}

.audio-mp4 {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-mp4.png) !important;
}

.audio-prs.sid {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-prs.sid.png) !important;
}

.application-x-kcsrc {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-kcsrc.png) !important;
}

.uri-mmst {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-mmst.png) !important;
}

.image-png {
    background-image: url(/images/oxygen/16x16/mimetypes/image-png.png) !important;
}

.application-x-rar {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-rar.png) !important;
}

.text-x-python {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-python.png) !important;
}

.application-x-font-snf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-snf.png) !important;
}

.image-gif {
    background-image: url(/images/oxygen/16x16/mimetypes/image-gif.png) !important;
}

.tar {
    background-image: url(/images/oxygen/16x16/mimetypes/tar.png) !important;
}

.video-x-msvideo {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-msvideo.png) !important;
}

.audio-x-monkey {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-monkey.png) !important;
}

.application-x-executable {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-executable.png) !important;
}

.application-x-font-type1 {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-type1.png) !important;
}

.audio-vnd.rn-realaudio {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-vnd.rn-realaudio.png) !important;
}

.audio-x-generic {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-generic.png) !important;
}

.audio-x-wav {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-wav.png) !important;
}

.application-x-egon {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-egon.png) !important;
}

.application-x-7z-compressed {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-7z-compressed.png) !important;
}

.application-x-zoo {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-zoo.png) !important;
}

.application-pkcs7-signature {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pkcs7-signature.png) !important;
}

.video-x-ogm+ogg {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-ogm+ogg.png) !important;
}

.x-office-contact {
    background-image: url(/images/oxygen/16x16/mimetypes/x-office-contact.png) !important;
}

.message-rfc822 {
    background-image: url(/images/oxygen/16x16/mimetypes/message-rfc822.png) !important;
}

.text-rdf {
    background-image: url(/images/oxygen/16x16/mimetypes/text-rdf.png) !important;
}

.audio-x-scpls {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-scpls.png) !important;
}

.text-x-java {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-java.png) !important;
}

.application-x-font-pcf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-pcf.png) !important;
}

.application-vnd.oasis.opendocument.presentation {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.presentation.png) !important;
}

.application-x-cue {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-cue.png) !important;
}

.video-quicktime {
    background-image: url(/images/oxygen/16x16/mimetypes/video-quicktime.png) !important;
}

.application-rtf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-rtf.png) !important;
}

.text-html {
    background-image: url(/images/oxygen/16x16/mimetypes/text-html.png) !important;
}

.audio-x-flac+ogg {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-flac+ogg.png) !important;
}

.x-office-spreadsheet {
    background-image: url(/images/oxygen/16x16/mimetypes/x-office-spreadsheet.png) !important;
}

.application-x-nzb {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-nzb.png) !important;
}

.image-x-dds {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-dds.png) !important;
}

.image-x-xfig {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-xfig.png) !important;
}

.binary {
    background-image: url(/images/oxygen/16x16/mimetypes/binary.png) !important;
}

.image-tiff {
    background-image: url(/images/oxygen/16x16/mimetypes/image-tiff.png) !important;
}

.audio-x-ms-wma {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-ms-wma.png) !important;
}

.text-x-adasrc {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-adasrc.png) !important;
}

.application-x-bzip {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-bzip.png) !important;
}

.application-x-pak {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-pak.png) !important;
}

.pdf {
    background-image: url(/images/oxygen/16x16/mimetypes/pdf.png) !important;
}

.image-x-pcx {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-pcx.png) !important;
}

.video-x-mng {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-mng.png) !important;
}

.video-mpeg {
    background-image: url(/images/oxygen/16x16/mimetypes/video-mpeg.png) !important;
}

.application-x-gzip {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-gzip.png) !important;
}

.text-vnd.wap.wml {
    background-image: url(/images/oxygen/16x16/mimetypes/text-vnd.wap.wml.png) !important;
}

.text-plain {
    background-image: url(/images/oxygen/16x16/mimetypes/text-plain.png) !important;
}

.application-x-mswinurl {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-mswinurl.png) !important;
}

.audio-x-flac {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-flac.png) !important;
}

.image-bmp {
    background-image: url(/images/oxygen/16x16/mimetypes/image-bmp.png) !important;
}

.application-x-siag {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-siag.png) !important;
}

.audio-vnd.rn-realvideo {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-vnd.rn-realvideo.png) !important;
}

.text-x-tcl {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-tcl.png) !important;
}

.x-office-document {
    background-image: url(/images/oxygen/16x16/mimetypes/x-office-document.png) !important;
}

.text-mathml {
    background-image: url(/images/oxygen/16x16/mimetypes/text-mathml.png) !important;
}

.text-x-csharp {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-csharp.png) !important;
}

.application-x-zerosize {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-zerosize.png) !important;
}

.xml {
    background-image: url(/images/oxygen/16x16/mimetypes/xml.png) !important;
}

.application-x-deb {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-deb.png) !important;
}

.uri-pnm {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-pnm.png) !important;
}

.application-pgp {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pgp.png) !important;
}

.spreadsheet {
    background-image: url(/images/oxygen/16x16/mimetypes/spreadsheet.png) !important;
}

.vectorgfx {
    background-image: url(/images/oxygen/16x16/mimetypes/vectorgfx.png) !important;
}

.application-x-font-bdf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-bdf.png) !important;
}

.application-x-font-afm {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-afm.png) !important;
}

.cdtrack {
    background-image: url(/images/oxygen/16x16/mimetypes/cdtrack.png) !important;
}

.image-x-xcf {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-xcf.png) !important;
}

.audio-x-matroska {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-matroska.png) !important;
}

.text-xml {
    background-image: url(/images/oxygen/16x16/mimetypes/text-xml.png) !important;
}

.application-x-lha {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-lha.png) !important;
}

.application-vnd.oasis.opendocument.spreadsheet {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.spreadsheet.png) !important;
}

.text-css {
    background-image: url(/images/oxygen/16x16/mimetypes/text-css.png) !important;
}

.uri-rtspt {
    background-image: url(/images/oxygen/16x16/mimetypes/uri-rtspt.png) !important;
}

.application-x-quattropro {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-quattropro.png) !important;
}

.zip {
    background-image: url(/images/oxygen/16x16/mimetypes/zip.png) !important;
}

.image-x-vnd.trolltech.qpicture {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-vnd.trolltech.qpicture.png) !important;
}

.text-x-c++src {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-c++src.png) !important;
}

.application-x-plasma {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-plasma.png) !important;
}

.application-x-desktop {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-desktop.png) !important;
}

.application-x-arj {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-arj.png) !important;
}

.application-x-kontour {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-kontour.png) !important;
}

.application-pgp-encrypted {
    background-image: url(/images/oxygen/16x16/mimetypes/application-pgp-encrypted.png) !important;
}

.audio-x-vorbis+ogg {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-vorbis+ogg.png) !important;
}

.html {
    background-image: url(/images/oxygen/16x16/mimetypes/html.png) !important;
}

.text-x-hex {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-hex.png) !important;
}

.video-x-ms-asf {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-ms-asf.png) !important;
}

.application-x-font-otf {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-font-otf.png) !important;
}

.text-x-c++hdr {
    background-image: url(/images/oxygen/16x16/mimetypes/text-x-c++hdr.png) !important;
}

.message-news {
    background-image: url(/images/oxygen/16x16/mimetypes/message-news.png) !important;
}

.odf {
    background-image: url(/images/oxygen/16x16/mimetypes/odf.png) !important;
}

.image-x-portable-graymap {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-portable-graymap.png) !important;
}

.application-x-tgif {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-tgif.png) !important;
}

.application-x-object {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-object.png) !important;
}

.image-x-applix-graphics {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-applix-graphics.png) !important;
}

.audio-x-pn-realaudio-plugin {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-pn-realaudio-plugin.png) !important;
}

.audio-ac3 {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-ac3.png) !important;
}

.application-x-troff-man {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-troff-man.png) !important;
}

.man {
    background-image: url(/images/oxygen/16x16/mimetypes/man.png) !important;
}

.image {
    background-image: url(/images/oxygen/16x16/mimetypes/image.png) !important;
}

.application-x-ace {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-ace.png) !important;
}

.application-x-tarz {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-tarz.png) !important;
}

.image-jpeg {
    background-image: url(/images/oxygen/16x16/mimetypes/image-jpeg.png) !important;
}

.cdimage {
    background-image: url(/images/oxygen/16x16/mimetypes/cdimage.png) !important;
}

.application-vnd.sun.xml.draw.template {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.sun.xml.draw.template.png) !important;
}

.text-vcalendar {
    background-image: url(/images/oxygen/16x16/mimetypes/text-vcalendar.png) !important;
}

.video-x-theora+ogg {
    background-image: url(/images/oxygen/16x16/mimetypes/video-x-theora+ogg.png) !important;
}

.encrypted {
    background-image: url(/images/oxygen/16x16/mimetypes/encrypted.png) !important;
}

.audio-x-speex+ogg {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-x-speex+ogg.png) !important;
}

.image-x-rgb {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-rgb.png) !important;
}

.application-vnd.oasis.opendocument.image {
    background-image: url(/images/oxygen/16x16/mimetypes/application-vnd.oasis.opendocument.image.png) !important;
}

.application-x-lzop {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-lzop.png) !important;
}

.application-x-empty {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-empty.png) !important;
}

.recycled {
    background-image: url(/images/oxygen/16x16/mimetypes/recycled.png) !important;
}

.application-zip {
    background-image: url(/images/oxygen/16x16/mimetypes/application-zip.png) !important;
}

.image-x-xbitmap {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-xbitmap.png) !important;
}

.image-x-xpixmap {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-xpixmap.png) !important;
}

.image-x-eps {
    background-image: url(/images/oxygen/16x16/mimetypes/image-x-eps.png) !important;
}

.application-x-applix-spreadsheet {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-applix-spreadsheet.png) !important;
}

.application-x-shellscript {
    background-image: url(/images/oxygen/16x16/mimetypes/application-x-shellscript.png) !important;
}

.audio-basic {
    background-image: url(/images/oxygen/16x16/mimetypes/audio-basic.png) !important;
}

