server {
    listen 80;
    listen [::]:80;

    server_name {{getv "/server/name" "_"}};
    root "/tine/tine20";
    index index.php;

    error_log    /dev/stderr;
    access_log    /dev/stdout;

    port_in_redirect off;
    client_max_body_size {{getv "/client/max/body/size" "24M"}};

    set $PHP_VALUE "include_path=/etc/tine20:/tine/tine20
                    max_execution_time = 1800
                    memory_limit = 256M";

    if ($request_method != (GET|POST) ) {
        rewrite ^$ /index.php?frontend=webdav last;
    }

    rewrite (?i)^/Microsoft-Server-ActiveSync /index.php?frontend=activesync last;
    rewrite (?i)^/users/(.*) /index.php?frontend=openid&username=$1 last;
    rewrite (?i)^/(addressbooks|calendars|webdav|principals|remote.php) /index.php?frontend=webdav last;
    rewrite (?i)^/download/get/(.*) /index.php?method=Download.downloadNode&path=$1 last;
    rewrite (?i)^/download/show/(.*) /index.php?method=Download.displayNode&path=$1 last;

    # webpack
    rewrite ^/webpack-dev-server /webpack-dev-server last;


    #################
    # tine20 config #
    #################

    location / {
        try_files $uri $uri/ /index.php;

        # polls
        if (!-e $request_filename) {
            rewrite ^/.*$ /index.php?doRouting=1 last;
        }

        rewrite .+\.php /index.php;
    }

    location ~ ^(/setup.php$|/hidden) {
        try_files $uri /index.php;
        fastcgi_param PHP_ADMIN_VALUE $PHP_ADMIN_VALUE;
        fastcgi_param PHP_VALUE $PHP_VALUE;
        include /etc/nginx/fastcgi_params;
        #fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_read_timeout 3600;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ .+\.php$ {
        try_files $uri /index.php;
        fastcgi_param PHP_ADMIN_VALUE $PHP_ADMIN_VALUE;
        fastcgi_param PHP_VALUE $PHP_VALUE;
        include /etc/nginx/fastcgi_params;
        #fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_read_timeout 3600;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        try_files $uri /index.php;
        expires 7d;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    location = /ADMIN/nginx-status {
        stub_status;
    }

    location = /ADMIN/fpm-status {
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:9000;
    }

    location = /ADMIN/fpm-ping {
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:9000;
    }
}
