@CHARSET "UTF-8";



.crmThumbnailApplication {
    background-image:url(../../images/oxygen/16x16/actions/paperbag.png) !important;
}

.actionPrev {
    background-image:url(../../images/oxygen/16x16/actions/arrow-left.png) !important;
}

.actionNext {
    background-image:url(../../images/oxygen/16x16/actions/arrow-right.png) !important;
}

.action1DayView {
    background-image:url(../../images/oxygen/16x16/actions/1day.png) !important;
}

.action5DaysView {
    background-image:url(../../images/oxygen/16x16/actions/5days.png) !important;
}

.action7DaysView {
    background-image:url(../../images/oxygen/16x16/actions/7days.png) !important;
}

.actionMonthview {
    background-image:url(../../images/oxygen/16x16/actions/month.png) !important;
}



.actionAdd {
    background-image:url(../../images/oxygen/16x16/actions/edit-add.png) !important;
}

.actionAddTask {
    background-image:url(../../images/oxygen/16x16/actions/todo.png) !important;
}

.actionExportLead {
    background-image:url(../../images/oxygen/16x16/actions/file-export.png) !important;
}

.actionEdit {
    background-image:url(../../images/oxygen/16x16/actions/edit.png) !important;
}

.actionDelete {
    background-image:url(../../images/oxygen/16x16/actions/edit-delete.png) !important;
}

.actionDisplayEvents {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}

.actionSaveAndClose {
    background-image:url(../../images/oxygen/16x16/actions/document-save.png) !important;
}

.actionApplyChanges {
    background-image:url(../../images/oxygen/16x16/actions/save-all.png) !important;
}

.filterSearch {
    background-image:url(../../images/oxygen/16x16/actions/search-filter.png) !important;
}

.repeatAction {
    background-image:url(../../images/oxygen/16x16/actions/xdays.png) !important;
}

.showEndedLeadsAction {
    background-image:url(../../images/oxygen/16x16/actions/ark-extract.png) !important;
}

.hideEndedLeadsAction {
    background-image:url(../../images/oxygen/16x16/actions/ark-delete.png) !important;
}

.showDetailsAction {
    background-image:url(../../images/oxygen/16x16/actions/fileview-detailed.png) !important;
}

.hideDetailsAction {
    background-image:url(../../images/oxygen/16x16/actions/fileview-column.png) !important;
}


.activities-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;
}

.activities-item-small i {

}

.productSummary-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;    
}

.contact-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;
}

.contact-item {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
}

.contact-item a {
    text-decoration: none;
    color: #000000;
}

.contact-item a:hover {
    text-decoration: underline;
    color: #999999
}

.contact-item p {
    line-height: 13px;
    margin: 7px 0px;
}

.contacts_background {
    background: #FFFFFF url(../../extjs/resources/images/default/form/text-bg.gif) repeat-x scroll 0pt 19pt;
    border: 1px solid #B5B8C8;
    margin-right: 10px;
}

.contactType_lead {
    background-color: #f4edf5;
}

.contactType_partner {
    background-color: #edf5ee;
}

.contactType_internal {
    background-color: #f5f5ed;
}

.contactType_lead_icon {
    background-image:url(contact_lead.png) !important;
}

.contactType_partner_icon {
    background-image:url(contact_partner.png) !important;
}

.contactType_internal_icon {
    background-image:url(contact_internal.png) !important;
}

.productSummary {
    background: transparent none repeat;
    border: 0px;
    color: #000000;
    opacity: 1;
    padding: 0px 0px;
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
    white-space: normal;
}


.lowPadding {
    padding-left: 1px;
    padding-right: 1px;
}

.borderTop {
    border-top: solid;
    border-top-color: #bbbbbb;
    border-top-width: 1px;
    
}

.x-view-over {
                background-color: #efefef
            }
