.CrmIconCls {
    background-image:url(../../images/oxygen/16x16/actions/datashowchart.png) !important;
}

.actionPrev {
    background-image:url(../../images/oxygen/16x16/actions/arrow-left.png) !important;
}

.actionNext {
    background-image:url(../../images/oxygen/16x16/actions/arrow-right.png) !important;
}

.action1DayView {
    background-image:url(../../images/oxygen/16x16/actions/1day.png) !important;
}

.action5DaysView {
    background-image:url(../../images/oxygen/16x16/actions/5days.png) !important;
}

.action7DaysView {
    background-image:url(../../images/oxygen/16x16/actions/7days.png) !important;
}

.actionMonthview {
    background-image:url(../../images/oxygen/16x16/actions/month.png) !important;
}

.actionAdd {
    /* background-image:url(../../images/oxygen/16x16/actions/edit-add.png) !important; */
    background-image:url(../../images/oxygen/16x16/actions/list-add.png) !important;
}

.actionRemove {
    background-image:url(../../images/oxygen/16x16/actions/list-remove.png) !important;
}

.actionAddTask {
    background-image:url(../../images/oxygen/16x16/actions/todo.png) !important;
}

.actionEdit {
    background-image:url(../../images/oxygen/16x16/actions/edit.png) !important;
}

.actionDelete {
    background-image:url(../../images/oxygen/16x16/actions/edit-delete.png) !important;
}

.actionDisplayEvents {
    background-image:url(../../images/oxygen/16x16/actions/user.png) !important;
}

.actionSaveAndClose {
    background-image:url(../../images/oxygen/16x16/actions/document-save.png) !important;
}

.actionApplyChanges {
    background-image:url(../../images/oxygen/16x16/actions/save-all.png) !important;
}

.filterSearch {
    background-image:url(../../images/oxygen/16x16/actions/search-filter.png) !important;
}

.repeatAction {
    background-image:url(../../images/oxygen/16x16/actions/xdays.png) !important;
}

.showEndedLeadsAction {
    background-image:url(../../images/oxygen/16x16/actions/ark-extract.png) !important;
}

.hideEndedLeadsAction {
    background-image:url(../../images/oxygen/16x16/actions/ark-delete.png) !important;
}

.showDetailsAction {
    background-image:url(../../images/oxygen/16x16/actions/fileview-detailed.png) !important;
}

.hideDetailsAction {
    background-image:url(../../images/oxygen/16x16/actions/fileview-column.png) !important;
}


.activities-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;
}

.activities-item-small i {

}

.productSummary-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;    
}

.contact-item-small {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
    font-size: 11px;
}

.contact-item {
    padding: 2px 4px; 
    border-bottom: 1px solid #B5B8C8;
}

.contact-item a {
    text-decoration: none;
    color: #000000;
}

.contact-item a:hover {
    text-decoration: underline;
    color: #999999
}

.contact-item p {
    line-height: 13px;
    margin: 7px 0px;
}

.contacts_background {
    background: #FFFFFF url(../../extjs/resources/images/default/form/text-bg.gif) repeat-x scroll 0pt 19pt;
    border: 1px solid #B5B8C8;
    margin-right: 10px;
}

.contactIcon {
	position: relative;
}

.contactIconResponsible {
    background-image:url(../../images/oxygen/16x16/apps/preferences-desktop-user.png) !important;
}

.contactIconCustomer {
    background-image:url(../../images/oxygen/16x16/apps/system-users.png) !important;
}

.contactIconPartner {
    background-image:url(../../images/oxygen/16x16/actions/view-process-own.png) !important;
}

.productSummary {
    background: transparent none repeat;
    border: 0px;
    color: #000000;
    opacity: 1;
    padding: 0px 0px;
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
    white-space: normal;
}


.lowPadding {
    padding-left: 1px;
    padding-right: 1px;
}

.borderTop {
    border-top: solid;
    border-top-color: #bbbbbb;
    border-top-width: 1px;
    
}

.x-view-over {
                background-color: #efefef
            }

.contact-grid {
	border: 1px solid #cccccc;
}

/** details panel **/
.crm-leadgrid-detailspanel-status {
	margin: 5px 2px 5px 5px;
    width: 20%;
}

.crm-leadgrid-detailspanel-contacts {
    margin: 5px 2px 5px 5px;
    width: 36%;
}

.crm-leadgrid-detailspanel .preview-panel-description {
    margin: 5px 2px 5px 5px;
    width: 36%;
    overflow: hidden;
}

.crm-leadgrid-detailspanel-status .preview-panel-symbolcompare{
    width: 90px;    
}

.crm-leadgrid-detailspanel-contact {
    width: 50%;
    float:right;
	height:108px;
	position:relative;
}