.CalendarIconCls {
    background-image:url(../../images/oxygen/16x16/apps/korganizer.png);
}

.cal-today-action {
    background-image:url(../../images/oxygen/16x16/actions/go-jump-today.png) !important;
}

.cal-day-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-day.png) !important;
}

.cal-upcoming-days-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-upcoming-days.png) !important;
}

.cal-week-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-week.png) !important;
}

.cal-month-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-month.png) !important;
}

.cal-resource {
    background-image:url(../../images/oxygen/16x16/devices/video-projector.png) !important;
}
    
.cal-attendee-type-resource {
    background-image:url(../../images/oxygen/16x16/devices/video-projector.png) !important;
    background-position:2px 2px;
    background-repeat:no-repeat;
}

.cal-attendee-type-groupmember {
    background-image:url(../../images/groupmember.png) !important;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

/**** colendar select widget ****/
.cal-calselectwidget-faketriggerwrap {
    position: absolute;
    top: 0;
    right: 0;
}

.cal-calselectwidget-fakelist-item {
	position: relative;
	padding: 0;
	border: 0;
}

.cal-calselectwidget-fakelist-calendar {
    /*width: 290px;*/
    float: left;
    padding-left: 5px;
}

.cal-calselectwidget-fakelist-account {
	width: 160px;
	position: absolute;
	right: 0;
	border-left: 1px solid #B5B8C8;
	padding-left: 5px;
	background:url(../../images/trigger2-bg.gif) repeat-x #EFEFEF;
}

/*** container select widget
 * @todo move to container
 */
span.tw-containerselect-trigger2 img.tw-containerselect-trigger2-bg {
    background:url(../../images/trigger2-bg.gif) repeat-x;
    width: 150px;
    cursor:pointer;
}
.tw-containerselect-trigger2 {position: relative;}
.x-form-trigger-over .tw-containerselect-trigger2-bg {background-position: 0 -24px;}
.x-form-trigger-over .tw-containerselect-trigger2 {background-position: -17px 0;}

.x-form-trigger-click .tw-containerselect-trigger2-bg {background-position: 0 -48px;}
.x-form-trigger-click .tw-containerselect-trigger2 {background-position: -34px 0;}

.x-form-field-wrap .x-form-arrow-trigger-rectangle {
    background-image:url(../../images/trigger-rect.gif);
    cursor:pointer;
}

/**** date picker ****/
.cal-tree .x-date-picker {
    border: 0;
}
	
.cal-event-icon {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-list.png) !important;
    background-position: 8px;
	background-repeat:no-repeat;
	padding: 2px 0px 2px 26px;
}

/**** conflict window ****/
.cal-conflict-heading {
    height: 32px;
}

.cal-conflict-attendername {
    font-weight: bold;
}

.cal-conflict-eventinfos {
    margin-left: 15px;
}