.cal-print-marker { /* NOTE: this has to be the first line here. @see js/Printer/DaysView.js */
    top:0;
}
.CalendarIconCls, .CalendarEvent {
    background-image:url(../../images/icon-set/icon_calendar.svg);
}

.PreferencesTreePanel-CalendarIconCls {
    background-image:url(../../images/icon-set/icon_calendar.svg) !important;
}

.cal-today-action {
    background-image:url(../../images/icon-set/icon_calender_today_action.svg) !important;
}

.cal-split-view {
    background-image:url(../../images/icon-set/icon_column.svg) !important;
}

.cal-sheet-view-type {
    background-image:url(../../images/icon-set/icon_calendar_week.svg) !important;
}

.cal-grid-view-type {
    background-image:url(../../images/icon-set/icon_calendar_list.svg) !important;
}

.cal-timeline-view-type {
    background-image:url(../../images/icon-set/icon_calendar_strahl.svg) !important;
}

.cal-print-loose-leaf {
    background-image:url(../../images/icon-set/icon_looseleaf.svg) !important;
}

.cal-day-view {
    background-image:url(../../images/icon-set/icon_calendar_day.svg) !important;
}

.cal-week-view {
    background-image:url(../../images/icon-set/icon_calendar_week.svg) !important;
}

.cal-month-view {
    background-image:url(../../images/icon-set/icon_calendar_month.svg) !important;
}

.cal-resource, .CalendarResource {
    background-image:url(../../images/icon-set/icon_resource.svg) !important;
}

.cal-calendartree-resource-icon .x-tree-node-icon {
    background-image: none;
}

.cal-year-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-workweek.png) !important;
}
.x-btn-medium .cal-year-view {
    background-image:url(../../images/oxygen/22x22/actions/view-calendar-workweek.png) !important;
}
.x-btn-large .cal-year-view {
    background-image:url(../../images/oxygen/32x32/actions/view-calendar-workweek.png) !important;
}

.cal-action_fretimesearch {
    background-image:url(../../images/icon-set/icon_calendar_search.svg) !important;
}

.cal-attendee-type-memberOf,
.cal-attendee-type-groupmember {
    background-image:url(../../images/icon-set/icon_groupmember.svg) !important;
}

.cal-attendee-type-resource {
    background-image:url(../../images/icon-set/icon_resource.svg) !important;
}

.cal-attendee-resource-hierarchy {
    font-size: 9px;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.x-cal-add-attendee-row .x-grid3-col-checked {
    display: none;
}
.x-cal-attendee-filter-grid .x-grid3-dirty-cell {
    background-image:none;
}

/**** calendar select widget ****/
.cal-calselectwidget-faketriggerwrap {
    position: absolute;
    top: 0;
    right: 0;
}

.cal-calselectwidget-fakelist-item {
    position: relative;
    padding: 0;
    border: 0;
}

.cal-calselectwidget-fakelist-calendar {
    /*width: 290px;*/
    float: left;
    padding-left: 5px;
}

.cal-calselectwidget-fakelist-account {
    width: 160px;
    position: absolute;
    right: 0;
    border-left: 1px solid #B5B8C8;
    padding-left: 5px;
    background:url(../../images/trigger2-bg.gif) repeat-x #EFEFEF;
}

/*** container select widget
 * @todo move to container
 */
span.tw-containerselect-trigger2 img.tw-containerselect-trigger2-bg {
    background:url(../../images/trigger2-bg.gif) repeat-x;
    width: 150px;
    cursor:pointer;
}
.tw-containerselect-trigger2 {position: relative;}

/*.x-form-trigger-over .tw-containerselect-trigger2-bg {background-position: 0 -24px;}*/
/*.x-form-trigger-over .tw-containerselect-trigger2 {background-position: -17px 0;}*/

/*.x-form-trigger-click .tw-containerselect-trigger2-bg {background-position: 0 -48px;}*/
/*.x-form-trigger-click .tw-containerselect-trigger2 {background-position: -34px 0;}*/

/*.x-form-field-wrap .x-form-arrow-trigger-rectangle {*/
    /*background-image: url(../../images/trigger-rect.gif);*/
    /*cursor:pointer;*/
/*}*/

.cal-calselectwdgt {
    position: relative;
}

/**** date picker ****/
.cal-tree .x-date-picker {
    border: 0;
}

.cal-datepicker-background .x-panel-body {
    background-color: #EEEEEF;
}

.cal-event-icon {
    /*background-image:url(../../images/icon-set/icon_event.svg) !important;*/
    background-position: 8px;
    background-repeat:no-repeat;
    padding: 2px 0px 2px 6px;
}

/**** conflict window ****/
.cal-conflict-heading {
    height: 32px;
}

.cal-conflict-attendername {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    background-position: 0;
    height: 14px;
    padding-left: 20px;
}

.cal-conflict-eventinfos {
    margin-left: 20px;
}

.cal-conflict-eventinfos-unavailable {
    padding-left: 5px;
    font-style: italic;
    color: red;
}

/**** status icons ****/
.cal-status-icon {
    background-size: 13px 13px;
    background-repeat:no-repeat;
    background-position: 0px -1px;
    margin: 0px -1px 0px -1px;
    width: 13px;
    height: 13px;
    cursor: pointer;

}

.cal-recurring {
    background-image: url(../../images/icon-set/icon_calendar_recur.svg) !important;
    background-repeat:no-repeat;
    width: 12px;
    height: 12px;
    padding: 0 2px;
    vertical-align: text-bottom;
    background-size: 13px 13px;
}

.cal-recurring.exception {
    background-image: url(../../images/icon-set/icon_calendar_recurexception.svg) !important;
}

.private-white      { background-image: url(../../images/icon-set/icon_calender_class_private_white.svg) !important; }
.private-black      { background-image: url(../../images/icon-set/icon_calender_class_private.svg) !important; }
.recur-white        { background-image: url(../../images/icon-set/icon_calendar_recur_white.svg) !important; }
.recur-black        { background-image: url(../../images/icon-set/icon_calendar_recur.svg) !important; }
.recurex-white      { background-image: url(../../images/icon-set/icon_calendar_recurexception_white.svg) !important; }
.recurex-black      { background-image: url(../../images/icon-set/icon_calendar_recurexception.svg) !important; }
.alarm-white        { background-image: url(../../images/icon-set/icon_bell_white.svg) !important; }
.alarm-black        { background-image: url(../../images/icon-set/icon_bell.svg) !important; }
.NEEDS-ACTION-white { background-image: url(../../images/icon-set/icon_invite_white.svg) !important; }
.NEEDS-ACTION-black { background-image: url(../../images/icon-set/icon_invite.svg) !important; }
.ACCEPTED-white     { background-image: url(../../images/icon-set/icon_calendar_attendee_accepted_white.svg) !important; }
.ACCEPTED-black     { background-image: url(../../images/icon-set/icon_calendar_attendee_accepted.svg) !important; }
.DECLINED-white     { background-image: url(../../images/icon-set/icon_calendar_attendee_cancle_white.svg) !important; }
.DECLINED-black     { background-image: url(../../images/icon-set/icon_calendar_attendee_cancle.svg) !important; }
.TENTATIVE-white    { background-image: url(../../images/icon-set/icon_calendar_attendee_tentative_white.svg) !important; }
.TENTATIVE-black    { background-image: url(../../images/icon-set/icon_calendar_attendee_tentative.svg) !important; }
.attachment-white   { background-image: url(../../images/icon-set/icon_paperclip_white.svg) !important; }
.attachment-black   { background-image: url(../../images/icon-set/icon_paperclip.svg) !important; }
.poll-white         { background-image: url(../../images/icon-set/icon_calendar_poll_white.svg) !important; }
.poll-black         { background-image: url(../../images/icon-set/icon_calendar_poll.svg) !important; }

.cal-status-TENTATIVE,
.cal-status-TENTATIVE .x-grid3-cell-inner {
    font-style: italic !important;
}

.inline {
    height: 24px;
    padding: 0;
    margin: 0;
}
.inline input {
    margin-top: -14px;
}
.inline input,
.inline table {
    display: inline-block;
}

.cal-attendee-picker-combo-list-item .x-combo-list-item {
    border: none;
}

.cal-fbinfo-state {
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    opacity: 0.8;
}

.cal-fbinfo-state-free {
    background-image: url(../../images/icon-set/icon_attendee_freebusy_free.svg) !important;
}

.cal-fbinfo-state-tentative {
    background-image: url(../../images/icon-set/icon_attendee_freebusy_tentative.svg) !important;
}

.cal-fbinfo-state-busy {
    background-image: url(../../images/icon-set/icon_attendee_freebusy_busy.svg) !important;
}

.cal-fbinfo-state-unavailable {
    background-image: url(../../images/icon-set/icon_calendar_attendee_cancle.svg) !important;
}

.x-grid3-cell .x-grid3-col-fbInfo {
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.cal-poll-event {
    opacity: 0.7;
}

.t-contenttype-event .action_add {
    background-image:url(../../images/icon-set/icon_meeting_add.svg) !important;
}

.t-contenttype-event .action_edit {
    background-image:url(../../images/icon-set/icon_meeting_edit.svg) !important;
}

.t-contenttype-event .action_delete {
    background-image:url(../../images/icon-set/icon_meeting_clear.svg) !important;
}

.t-contenttype-event .action_export {
    background-image:url(../../images/icon-set/icon_meeting_export.svg) !important;
}

.t-contenttype-event .action_import {
    background-image:url(../../images/icon-set/icon_meeting_import.svg) !important;
}