.CalendarIconCls {
    background-image:url(../../images/oxygen/16x16/apps/korganizer.png);
}

.cal-today-action {
    background-image:url(../../images/oxygen/16x16/actions/go-jump-today.png) !important;
}

.cal-day-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-day.png) !important;
}

.cal-upcoming-days-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-upcoming-days.png) !important;
}

.cal-week-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-week.png) !important;
}

.cal-month-view {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-month.png) !important;
}

.cal-event-icon {
    background-image:url(../../images/oxygen/16x16/actions/view-calendar-list.png) !important;
    background-position: 0 0;
	background-repeat:no-repeat;
	padding: 2px 0px 2px 18px;
}