html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}

table {
  width: 100%;
  text-align: left;
  font-size: 11px;
  font-family: arial;
  border-collapse: collapse;
}

table th {
  padding: 4px 3px 4px 5px;
  border: 1px solid #d0d0d0;
  border-left-color: #eee;
  background-color: #ededed;
}

table td {
  padding: 4px 3px 4px 5px;
  border-style: none solid solid;
  border-width: 5px;
  border-color: #ededed;
}

/* irritating in cal views
@media print {
   thead {display: table-header-group;}
}
*/

#csscheck {
    display: none;
}

div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}

.cal-print-title {
    text-align: center;
    font-size: 20px;
}

.cal-print-daysview-day td {
    vertical-align: top;
}

.cal-print-daysview-day-dayOfMonth {
    font-size: 15px;
    font-weight: bold;
}

.cal-print-daysview-day-weekDay {
    font-size: 15px;
    margin-left: 10px;
}

.cal-print-daysview-day-duration {
    font-style: italic;
}

.cal-print-daysview-day-color {
    width: 16px;
    border-right: 0;
}

.cal-print-daysview-day-starttime,
.cal-print-daysview-day-endtime {
    width: 25px;
}

.cal-print-daysview-day-endtime {
    text-align: left;
}

.cal-print-daysview-day-untilseperator {
    width: 5px;
    text-align: center;
}

.cal-print-daysview-day-color,
.cal-print-daysview-day-starttime,
.cal-print-daysview-day-untilseperator,
.cal-print-daysview-day-endtime,
.cal-print-daysview-day-summary {
    border-left: 0px;
    border-right: 0px;
}

.cal-print-daysview-day-summary {
    word-break: break-all;
}

.cal-print-daycell {
    vertical-align: top;
    border: 0;
}

.cal-print-day-singleday th {
    display: none;
}

/* ------------ daysview  ------------ */
.cal-daysviewpanel-daycolumn-row-on,
.cal-daysviewpanel-daycolumn-row-off,
.cal-daysviewpanel-daycolumn-row {
    color: #FFFFFF;
    font-size: 0px;
}

.cal-daysviewpanel-body-daycolumn-hint-above,
.cal-daysviewpanel-body-daycolumn-hint-below {
    display: none;
    background-image: none;
}

.cal-daysviewpanel-body-daycolumn-today {
    background-color: #FFFFFF;
}

.cal-daysviewpanel-body-daycolumn-today .cal-daysviewpanel-daycolumn-row {
    color: #FFFFFF;
}

.cal-daysviewpanel-dayheader-today, .cal-daysviewpanel-dayheader-day-wrap:hover {
    background:#F9F9F9 url(../../library/ExtJS/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 top;
}

/* .cal-daysviewpanel-header-inner {
    background: none;
} */

/* ------------ monthview ------------ */
.cal-print-monthview-daycell {
    border: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding-top: 20px;
}

.cal-print-monthview .cal-print-daycell {
    width: 13%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 5px solid #d0d0d0;
}

.cal-print-monthview .cal-print-daysview-day th {
    border: 0;
    border-bottom: 5px solid #d0d0d0;
}

.cal-print-monthview {
    font-size: 10px;
}

.cal-print-monthview .cal-print-daysview-day-weekDay {
    display: none;
}

.cal-print-monthview .cal-print-daysview-day-dayOfMonth {
    font-size: 15px;
}

.cal-print-monthview .cal-print-daysview-day-color {
    width: 5px;
}

.cal-print-monthview .cal-print-daysview-day-starttime {
    width: 15px;
}

.cal-print-monthview .cal-print-daysview-day-untilseperator,
.cal-print-monthview .cal-print-daysview-day-endtime {
    display: none;
}

/* ------------ yearview ------------ */
.cal-print-yearview .cal-print-daycell {
    width: 8%;
    padding: 0px;
    padding-left: 1px;
    border: 1px solid #d0d0d0;
}
.cal-print-rowheader {
    width: 1% !important;
}


